################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chess-class-lib/v16
/ChessClassLib/obj
/ChessClassLib/bin
/ChessClassLibraryTests/obj
/ChessClassLibraryTests/bin
/packages
/.vs
